* {
    background-color: burlywood;
}

#index_title {
    text-align: center;
    font-size: 60px;
    margin-top: 80px;
}

.recipes li{
    display: block;
    margin: 10px;
    text-align: center;  
    border: black;
    font-size: x-large;
}